---
---
<header id="main-header">
  <div class="logo_shrink">
    <img src="/public/assets/headerlogos.svg" alt="designmuseum x bareen logo" />
  </div>

  <nav>
    <ul>
      <li><a href="/">CONTACT</a></li>
      <li><a href="/">PRACTICAL INFORMATION</a></li>
    </ul>
    <a id="logo" href="/"><img src="/public/assets/headerlogo.svg" alt="designmuseum x bareen logo" /></a>
    <ul>
      <li><a href="/">BAREEN EXHIBIT</a></li>
      <li><a href="/">FEATURED PRODUCTS</a></li>
    </ul>
  </nav>
</header>

<style>
  #main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 1000;
  }

  .logo_shrink {
    height: var(--big-logo-height);
    overflow: hidden;
    transition: height 0.4s ease;
  }
  :root {
    --big-logo-height: 290px;
  }
  body {
    padding-top: var(--big-logo-height);
  }
  #main-header.scrolled .logo_shrink {
    height: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #e9e9e9;
  }

  ul {
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    color: var(--highlight);
    text-decoration: none;
  }

  #logo {
    margin-left: 1rem;
  }
</style>

<script is:inline>
  window.addEventListener('scroll', () => {
    document.getElementById('main-header')
      .classList.toggle('scrolled', window.scrollY > 50);
  });
</script>
