---
import Layout from "./layouts/Layout.astro";
import Button from "./components/Button.astro";
---

<Layout title="forside">
  <h1>THIS PAGE IS STILL UNDER CONSTRUCTION</h1>

  <Button text="TO TOP" variant="secondary" />
</Layout>
