---
import Layout from "./layouts/Layout.astro";
import Button from "./components/Button.astro";
---

<Layout title="forside">
  <h1>THIS PAGE IS STILL UNDER CONSTRUCTION</h1>

  <video autoplay muted loop playsinline style="width: 100vw; height: 100vh; object-fit: cover;">
    <source src="/video/0423.mp4" type="video/mp4" />
  </video>

  <Button text="TO TOP" variant="secondary" />
</Layout>
