---
import Layout from "./layouts/Layout.astro";
import Button from "./components/Button.astro";
import BasicComp2 from "./components/BasicComp2.astro";
import Hero from "./components/Hero.astro";
import ProductCard from "./components/ProductCard.astro";
import BasicComp3 from "./components/BasicComp3.astro";

const url = "https://mvntcqlqzbighuvqadvu.supabase.co/rest/v1/bareen-two";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12bnRjcWxxemJpZ2h1dnFhZHZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNTU5NDMsImV4cCI6MjA1OTkzMTk0M30.EIv4HMnBt2PuaWp1q32S1u8IwGFxc0fW0mJ4KTJLoMc";

const options = {
  headers: {
    apikey: key,
  },
};

const request = await fetch(url, options);
const data = await request.json();
---

<Layout title="forside">
  <Hero />
  <BasicComp2 identifier="intro-section" title="WHY THIS,WHY NOW?">
    <div class="grid1_1-1" id="exhibit">
      <div class="txt-case">
        <p>Pairing contemporary design with timeless art, we’re inviting a new generation to experience the past in a way that feels personal, wearable, and relevant. As boundaries blur between style and storytelling, this is more than a collection — it’s a living dialogue between what was, what is, and what’s next.</p>
      </div>
      <div></div>
    </div>
    <video autoplay muted loop playsinline style="width: 100%; height: auto; object-fit: cover;">
      <source src="/video/0423.mp4" type="video/mp4" />
    </video>
  </BasicComp2>
  <BasicComp2 identifier="exhibit-section" title="BAREEN DESIGN EXHIBIT">
    <div>
      <p>Step into a space where fashion meets artifact — a curated collision of style and story. This exhibit showcases garments reimagined through the lens of art history and cultural memory. A bold reflection on identity, time, and the threads that connect them Acquire tickets at designmuseum.dk below</p>
    </div>

    <Button link="https://designmuseum.dk/vare-kategori/dagsbilletter/" variant="dark" style="margin-top:2rem;" text="TICKETS" />
  </BasicComp2>

  <BasicComp3 imgContainerName="img_cont1" identifier="info-section" title="PRACTICAL INFO" image="/assets/Bareenudstillings.webp" alt="exhibit picture">
    <div style="position:relative;">
      <h2>PRACTICAL INFO</h2>

      <p>Experience bareen like never before in a brand new clothing exhibit at the Design Museum. Explore the fusion of modern streetwear and cultural design in a curated space. For details on location, dates, and tickets — click the button below.</p>

      <Button link="/info" variant="secondary" style="position: absolute; bottom: 10%; right: 10%;" text="SEE MORE" />
    </div>
  </BasicComp3>
  <section class="feature-products" id="featured-products">
    <div class="txt_box">
      <h2>FEATURED PRODUCTS</h2>
      <p>These are the pieces featured in the exhibit.</p>
    </div>
    <div class="carousel" id="contact-but">
      <div class="carousel-line" id="carousel-line">
        {data.map((product) => <ProductCard data={product} />)}
        {data.map((product) => <ProductCard data={product} />)}
        {data.map((product) => <ProductCard data={product} />)}
      </div>

      <Button link="https://bareen.dk/" variant="light" style="position: absolute; left: 50%; transform: translate(-50%,0%);" text="SHOP MORE BAREEN" />
    </div>
  </section>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const line = document.getElementById("carousel-line");
      if (line) {
        line.addEventListener("mouseenter", () => {
          line.style.animationPlayState = "paused";
        });

        line.addEventListener("mouseleave", () => {
          line.style.animationPlayState = "running";
        });
      }
    });
  </script>
</Layout>

<style>
  /* featured products */
  .txt_box {
    margin-left: 2rem;
  }
  .feature-products {
    padding: 2rem;
    align-items: center;
    position: relative;
  }

  .carousel {
    overflow: hidden;
    width: 100%;
  }

  .carousel-line {
    display: flex;
    gap: 1rem;
    animation: scroll-left 10s linear infinite;
    margin-bottom: 2rem;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .feature-btn {
    position: absolute;
    right: 50%;
  }
</style>
