---
import Layout from "./layouts/Layout.astro";
import BasicComp3 from "./components/BasicComp3.astro";
---

<Layout title="Praktisk Info">
  <h2 class="special_h2">PRACTICAL<br />INFORMATION</h2>

  <BasicComp3 imgContainerName=" img_cont2" identifier="info-section" title="PRACTICAL INFO" image="/assets/outsideDMD1.svg" alt="museum picture">
    <div>
      <h2>WHEN AND WHERE</h2>
      <h3>MAY 6TH, 2025</h3>

      <p style="max-width: 50ch;">When we open up our doors of the museum on the 6th of May 2025, there shall be a grand opening celebration held, where everyone is invited. All tickets will be half off on our opening day and you can acquire some at <a style="color:var(--highlight);" href="https://designmuseum.dk/vare-kategori/dagsbilletter/">GET TICKETS</a> now. You can find us and our many exceptional exhibits including barrens exhibit at,</p>
      <p style="color:var(--accent); font-weight:bold; font-size:23px;">Designmuseum Danmark Bredgade, 68 1260 københavn K, Danmark</p>
    </div>
  </BasicComp3>

  <BasicComp3 imgContainerName="img_cont3" identifier="info-section" title="AKUT #6" image="/assets/Bareenudstillings.webp" alt="museum picture">
    <div>
      <h2>AKUT #6</h2>
      <h3>FABRIC OF CHANGE</h3>

      <p style="max-width: 50ch;">bareen shall be this quater’s fabric of change. This clothing brand with a concrete claim to the title of design brand cements its place as a work of art in our halls, and you’ll be able to witness it at Design Museum Danmark.</p>
      <a style="color:var(--highlight);" href="https://designmuseum.dk/vare-kategori/dagsbilletter/">GRAB TICKETS AT DESIGN MUSEUM DANMARK</a>
    </div>
  </BasicComp3>
</Layout>
