---

---

<article class="hero">
  <img class="heroimg" src="/assets/heroimg.svg" alt="hero img" />
  <div class="herotext">
    <h1 class="bareen">Experience the founders’ full story of bareen presented at</h1>
    <h1 class="dmd">DESIGN MUSEUM DANMARK</h1>
  </div>
</article>

<style>
  .hero {
    position: relative;
    width: 100%;
    height: 65vh;
    overflow: hidden;
  }

  .heroimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .herotext {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: left;
  }

  .bareen {
    font-size: 3rem;
    font-weight: 300;
    width: 800px;
  }

  .dmd {
    font-size: 4rem;
    color: var(--highlight);
    width: 900px;
    text-decoration: underline;
  }
</style>
