---
import "../styles/style.css";
import Menu from "../components/Menu.astro";
const { title } = Astro.props;
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- <base href="./" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <title>{title}</title>
  </head>
  <body>
    <Menu />
    <slot />
    <Footer />
  </body>
</html>

<style></style>
